<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, <%= @user.name %></h1>
    <p>
      A new plugin has just been added to our site: <%= @plugin.name %>.<br/>
    </p>
    <p>
      To see details about the Plugin, or comment/rate it just follow this link: <%= @url %>.</br>
    </p>
    <p>
      Have a great day!</br></br>
      </br>
      If you don't want to receive further notifications just 
      go to your account settings and opt-out for email notifications.</br>
    </p>
  </body>
</html>

