<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, <%= @user.name %></h1>
    <p>
      A plugin you watch has just been updated:
      <% @plugin.name %> has been updated to <% @version.version %>
      <br/>
    </p>
    <p>
      just follow this link: <%= @url %>.
    </p>
    <p>
      Have a great day!</br></br>
      </br>
      If you don't want to receive further notifications just unfollow the plugin or</br>
      go to your account settings and opt-out for email notifications.</br>
    </p>
  </body>
</html>

