<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey, <%= @user.name %></h1>
    <p>
      A new comment has been added to <%= @plugin.name %>.<br/>
    </p>
    <p>
      To see the comment, just follow this link: <%= @url %>.
    </p>
  </body>
</html>

