<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, <%= @user.name %></h1>
    <p>
      A new plugin has been added to our site: <%= @plugin.name %>.<br/>
    </p>
    <p>
      just follow this link: <%= @url %>.
    </p>
  </body>
</html>

